Repository rage/quizzes, pull requests merged in 2021-02, with the labels that each got.

#688 Allow reviewers to accept/reject answers
  packages/backendv2/src/controllers/dashboard/index.ts
Labels: minor thing

#689 Update quiz progress
  packages/backendv2/src/models/user_course_part_state.ts
Labels: backend, minor thing

#690 make links open on new tabs/windows
  packages/quizzes-dashboard/components/CourseList.tsx
  packages/quizzes-dashboard/components/CoursePage/SectionQuiz.tsx
Labels: dashboard, minor thing
